/********************************************************
Template Name: DentEx - The Dental Expert
Description: DentEx - A Dental Care HTML Template for Dentists
Version: 1.0
Last change: 25/09/17
Author : @ThemesMill
/********************************************************
*** Table of Contents ***
* 1.0 - Import Stylesheets
* 2.0 - General
* 3.0 - Header Styling
* 4.0 - Top Info
* 5.0 - Menu Bar Styling
* 6.0 - Menu Dropdown
* 7.0 - Home Main Slider
* 8.0 - Appointment Box Large
* 9.0 - Home Services
* 10.0 - Our Dentists - Home
* 11.0 - Project Facts
* 12.0 - Departments Vertical Tabs
* 13.0 - Departments horizontal Tabs
* 14.0 - Pricing Tables
* 15.0 - Home Testimonials
* 16.0 - Home Gallery
* 17.0 - Call to Action - Home
* 18.0 - News Section - Home
* 19.0 - App
* 20.0 - Footer
* 21.0 - Breadcrumb Header
* 22.0 - Welcome Section 2
* 23.0 - Services Style 3
* 24.0 - Doctors Style 3
* 25.0 - Services Style 2
* 26.0 - Doctors Style 2
* 27.0 - Pricing Tables Style 2
* 28.0 - 404
* 29.0 - Appointment Page
* 30.0 - Call to action 2
* 31.0 - Contact Info Styling
* 32.0 - Google Maps
* 33.0 - Contact Form
* 34.0 - Pagination
* 35.0 - Blog Full Style
* 36.0 - Sidebar
* 37.0 - Blog Detail
* 38.0 - Comments
* 39.0 - Shop
* 40.0 - Shop Detail
* 41.0 - Doctor Detail
* 42.0 - Event Detail
* 43.0 - Service Detail
* 44.0 - Department Details
* 45.0 - Extra Css

[Colors]

Body Background:	            #ffffff
Body gray:		                #f3f3f3
Content General Text:	        #1f1f1f
h1, h2, h3, h4, h5, h6:	        #1f1f1f
Footer:		                    #1f1f1f
a                               #1f1f1f

[Typography]

Body:		                    14px / 'Open Sans', sans-serif / 300
Headings:		                'Montserrat', sans-serif
Input, textarea:	            'Open Sans', sans-serif
Section headings:	            'Montserrat', sans-serif


/********************************************************/


/********************************************************/


/*
==============================================================
   Import Stylesheets
==============================================================
*/

@import url('css/bootstrap.min.css');
@import url('css/font-awesome.min.css');
@import url('css/color.css');
@import url('css/typography.css');
@import url('css/svg.css');

/*
==============================================================
   General
==============================================================
*/

a {
	color: #252525;
}
.nopadding {
	padding: 0 !important;
}
.nomargin {
	margin: 0 !important;
}
.spacer {
	padding-bottom: 20px;
}
.tm-btn {
	border: 0 none;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	padding: 17px 30px;
	position: relative;
	overflow: hidden;
}
.btn-white {
	background-color: #fff;
	color: #1f1f1f;
}
.btn-app {
	padding: 10px !important;
}
.tm-btn:hover {
	color: #fff !important;
}
.tm-section-heading {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}
.tm-section-heading:after {
	content: '';
	display: block;
	height: 6px;
	width: 63px;
	margin: 23px auto 0;
}
.tm-box-heading {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
}
.tm-box-heading-sm {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
}
.tm-small-heading {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	text-align: left;
}

.activecls{
	background-color: #e1e1e147;
}

.iframecss{
	width:100%;
	height:420px;
}

.form-control {
	box-shadow: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	height: 54px;
}
.form-control:focus {
	box-shadow: none;
	outline: none;
}
.separator {
	border-bottom: 1px dashed #1f1f1f;
	display: block;
	clear: both;
	width: 100%;
}
textarea.form-control {
	height: auto;
}
.tm-datepicker {
	position: relative;
}
.tm-datepicker:after {
	content: '\e03';
	font-family: 'icomoon';
	font-size: 26px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	width: 54px;
	height: 54px;
	text-align: center;
	line-height: 2.1;
}
.tm-timepicker {
	position: relative;
}
.tm-timepicker:after {
	content: '\e2e';
	font-family: 'icomoon';
	font-size: 26px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	width: 54px;
	height: 54px;
	text-align: center;
	line-height: 2.1;
}

/*
==============================================================
   Header Styling
==============================================================
*/

.topbar {
	padding: 13px 0 9px;
}
.topbar .t-links {
	float: left;
}
.topbar .t-links a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.8px;
	padding: 0 14px;
	position: relative;
}
.topbar .t-links a:after {
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	content: "|";
	position: absolute;
	right: -3px;
	top: -1px;
}
.topbar .t-links a:hover {
	color: #dedede;
}
.topbar .t-links a:nth-last-child(1):after {
	display: none;
}
.topbar .t-options {
	float: right;
	text-align: right;
}
.topbar .t-options .icons_t {
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	padding: 0 10px;
	position: relative;
	float: left;
}
.topbar .t-options .icons_t .search-box {
	position: absolute;
	box-shadow: 0 0 22px -10px #000;
	top: 31px;
	left: -223px;
	width: 100%;
	min-width: 250px;
	z-index: 999999;
	opacity: 0;
	visibility: hidden;
}
.topbar .t-options .icons_t .search-box.active {
	opacity: 1;
	visibility: visible;
}
.topbar .t-options .icons_t .search-box input {
	height: 45px;
}
.topbar .t-options .icons_t:nth-last-child(1):after {
	font-size: 15px;
	color: #fff;
	position: absolute;
	left: -3px;
	top: -1px;
	content: '|';
	font-weight: 300;
}

/*
==============================================================
   Top Info
==============================================================
*/

.topinfo {
	padding: 24px 0;
}
.topinfo .c_info {
	float: left;
	width: 100%;
}
.topinfo .c_info div[class^="col-"] {
	padding: 0;
}
.topinfo .c_info .c_contact:after {
	clear: both;
	display: block;
	content: '';
}
.topinfo .c_info .c_contact span[class^="icon-"] {
	font-size: 19px;
	color: #fff;
	float: left;
	padding: 10px;
	width: 42px;
	height: 42px;
	text-align: center;
	line-height: 1;
	margin-right: 10px;
}
.topinfo .c_info .c_contact .detail {
	float: left;
	font-family: 'Montserrat', sans-serif;
}
.topinfo .c_info .c_contact .detail .number {
	font-size: 16px;
	font-weight: 600;
	color: #1f1f1f;
	word-break: break-all;
}
.topinfo .c_info .c_contact .detail span {
	display: block;
}
.topinfo .c_info .c_contact .detail .subtitle {
	font-size: 14px;
	font-weight: 400;
	color: #1f1f1f;
}
.topinfo .tm_top_social {
	float: right;
	padding-top: 1px;
}
.topinfo .tm_top_social span.sep {
	color: #1f1f1f;
	padding: 0 5px 0px 10px;
	font-size: 18px;
}
.topinfo .tm_top_social a {
	padding: 0 6px;
	font-size: 16px;
	display: inline-block;
	float: left;
	margin-top: 9px;
}
.topinfo .tm_top_social a.btn-app {
	font-size: inherit;
	margin: 0;
}

/*
==============================================================
   Menu Bar Styling
==============================================================
*/

.tm-main-menu {
	padding: 34px 0 33px;
}
.tm-main-menu .logo-top {
	float: left;
}
.tm-main-menu .nav-wrapper {
	float: right;
	padding: 12px 0;
}
.tm-main-menu .nav-wrapper li {
	display: inline-block;
	position: relative;
}
.tm-main-menu .nav-wrapper li a {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 18px;
}

/*
==============================================================
   Menu Dropdown
==============================================================
*/

.tm-main-menu .nav-wrapper li ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 100%;
	min-width: 200px;
	z-index: 10;
	left: -106px;
	top: 40px;
	background-color: #fff;
	transform: translateX(-10%);
	-webkit-transform: translateX(-10%);
	-moz-transform: translateX(-10%);
	-o-transform: translateX(-10%);
	-ms-transform: translateX(-10%);
}
.tm-main-menu .nav-wrapper li ul:after {
	clear: both;
	display: block;
	content: '';
}
.tm-main-menu .nav-wrapper li ul li {
	display: block;
}
.tm-main-menu .nav-wrapper li ul li a {
	padding: 12px 15px;
	text-transform: capitalize;
	font-weight: 400;
}
.tm-main-menu .nav-wrapper li ul li a:hover {
	padding-left: 25px;
	color: #fff;
}
.tm-main-menu .nav-wrapper li ul ul {
	left: -100%;
	top: 0;
}
.tm-main-menu .nav-wrapper li:hover>ul {
	opacity: 1;
	visibility: visible;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
}
.tm-main-menu .nav-wrapper li ul>li.menu-item-has-children:before {
	content: '\e05';
	display: block;
	font-family: 'icomoon';
	float: right;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	font-size: 8px;
	margin-top: 15px;
	margin-right: 6px;
	margin-left: 15px;
}
.tm-main-menu .nav-wrapper li ul>li.menu-item-has-children:hover:before {
	color: #fff;
}

/*
==============================================================
   Home Main Slider
==============================================================
*/

.tm-home-slider .flexslider {
	height: 585px;
	overflow: hidden;
}
.tm-home-slider .flexslider .slides li:after {
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tm-home-slider .flexslider .slides li .caption {
	position: absolute;
	z-index: 2;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.tm-home-slider .flexslider .slides li .caption * {
	color: #fff;
}
.tm-home-slider .flexslider .slides li .caption h3 {
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 700;
}
.tm-home-slider .flexslider .slides li .caption h1 {
	font-size: 68px;
	text-transform: uppercase;
	font-weight: 700;
}
.tm-home-slider .flexslider .slides li .caption .tm-btn {
	margin-top: 27px;
}
.tm-home-slider .flexslider .slides li .caption p {
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0 20%;
}
.tm-appointment-large .form-control {
	border: 0;
}

/*
==============================================================
   Appointment Box Large
==============================================================
*/

.tm-appointment-large {
	padding: 63px 0 40px;
	background-image: url(images/pattern.png);
	background-repeat: repeat;
	background-attachment: fixed;
	-webkit-background-attachment: fixed;
}
.tm-appointment-large .tm-section-heading {
	color: #fff;
}
.tm-appointment-large .tm-section-heading:after {
	background: #fff;
}
.tm-appointment-large .tm-btn {
	width: 100%;
}
.tm-appointment-large .tm-btn:hover {
	background-color: #fff;
	color: #1f1f1f !important;
}
.tm-appointment-large .form-group {
	margin-bottom: 30px;
}
.tm-welcome {
	padding: 70px 0;
}
.tm-welcome.about {
	padding: 70px 0 42px;
}
.tm-welcome .welcome-features {
	padding-top: 5px;
}
.tm-opening-hours {
	color: #fff;
	position: relative;
	padding: 30px 30px 26px;
	text-align: center;
}
.tm-opening-hours .tm-small-heading {
	color: #fff;
}
.tm-opening-hours:before {
	content: '\e1c';
	font-family: 'icomoon';
	margin: 0 auto;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	font-size: 284px;
	opacity: 0.1;
	z-index: 0;
}
.tm-opening-hours ul li {
	list-style-type: none;
	clear: both;
	border-bottom: 1px dashed #fff;
	display: table;
	clear: both;
	width: 100%;
	padding: 25px 0 7px;
}
.tm-opening-hours ul {
	display: table;
	clear: both;
	position: relative;
	width: 100%;
}
.tm-opening-hours ul li .lbl {
	float: left;
}
.tm-opening-hours ul li .val {
	float: right;
}
.tm-opening-hours p {
	text-align: left;
	color: #fff;
	padding-top: 25px;
	position: relative;
	z-index: 2;
}
.tm-opening-hours .cl {
	text-align: left;
	color: #fff;
	position: relative;
	z-index: 2;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

/*
==============================================================
   Home Services
==============================================================
*/

.tm-home-services {
	background-color: #f3f3f3;
	padding: 63px 0 64px;
}
.tm-home-services.main {
	padding: 63px 0 12px;
}
.tm-home-services .service-image {
	font-size: 72px;
	float: left;
	border-radius: 100px;
	width: 133px;
	height: 133px;
	text-align: center;
	line-height: 2;
	color: #1f1f1f;
	margin-right: 20px;
}
.tm-home-services .service-caption {
	float: left;
	width: 65%;
}
.tm-home-services .service-box {
	display: table;
	width: 100%;
	position: relative;
	margin-bottom: 34px;
}
.tm-home-services .tm-btn {
	margin: 0 auto;
}
.tm-video-wrapper ul li {
	list-style-type: none;
	display: table;
	width: 100%;
	margin-bottom: 15px;
}
.tm-video-wrapper * {
	color: #fff;
}
.tm-video-wrapper:after {
	content: '';
	clear: both;
	display: block;
}
.tm-video-wrapper .content-box {
	padding: 66px 10px 25px 90px;
}
.tm-video-wrapper .video-box {
	position: relative;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
.tm-video-wrapper .video-box img {
	width: 100%;
}
.tm-video-wrapper .video-box:after {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.tm-video-wrapper .video-box:before {
	content: '\e23';
	font-family: 'icomoon';
	font-size: 100px;
	color: #fff;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.tm-video-wrapper .tm-box-heading {
	margin-bottom: 10px;
}

/*
==============================================================
   Our Dentists - Home
==============================================================
*/

.tm-dentists-home {
	padding: 63px 0 53px;
}
.tm-dentists-home.main {
	padding: 70px 0 40px;
}
.tm-dentists-home ul li {
	list-style-type: none;
	margin-top: 20px;
}
.tm-dentists-home ul li span[class^="icon-"] {
	font-size: 30px;
}
.dentist-info {
	position: relative;
	margin-bottom: 30px;
}
.dentist-info .overlay-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 15px;
	opacity: 0;
	visibility: hidden;
}
.dentist-info:hover>.overlay-content {
	opacity: 1;
	visibility: visible;
}
.dentist-info img {
	width: 100%;
}
.dentist-info .overlay-content * {
	color: #fff;
}
.dentist-info .overlay-content .inner-content {
	position: absolute;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	top: 40%;
	left: 0;
	padding: 0 10%;
	right: 0;
	opacity: 0;
	visibility: hidden;
}
.dentist-info:hover>.overlay-content>.inner-content {
	top: 50.6%;
	opacity: 1;
	visibility: visible;
}
.dentist-info .overlay-content .share ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
}
.dentist-info .overlay-content .share {
	display: block;
	margin-top: 10px;
}
.dentist-info .overlay-content .share ul li a span {
	color: #fff;
	font-size: 16px;
}
.dentist-info .overlay-content .tm-box-heading {
	margin-bottom: 8px;
}
.dentist-info .overlay-content .degree {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin-bottom: 7px;
}
.dentist-info .overlay-content p {
	margin-bottom: 0;
}
.dentist-info .overlay-content .tm-btn {
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 13px;
}

/*
==============================================================
   Project Facts
==============================================================
*/

.tm-project-facts {
	background-image: url(images/project-fact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 63px 0 40px;
	position: relative;
}
.tm-project-facts * {
	color: #fff;
}
.tm-project-facts .tm-section-heading:after {
	background-color: #fff;
}
.tm-project-facts:before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	content: '';
}
.tm-project-facts .fact-icon {
	width: 108px;
	height: 108px;
	border: 2px dotted #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 59px;
	line-height: 1.9;
	margin: 0 auto 30px;
}
.tm-project-facts .fact-box {
	text-align: center;
	margin-bottom: 30px;
}
.tm-project-facts .fact-label {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 100px;
	padding: 15px;
	border: 2px dotted #fff;
	white-space: nowrap;
}

/*
==============================================================
   Departments Vertical Tabs
==============================================================
*/

.tm-departments-vertical {
	padding: 63px 0 52px;
}
.tm-departments-vertical.main {
	padding: 63px 0 59px;
}
.tm-departments-vertical .departmentTabs .nav-tabs li {
	width: 100%;
	margin-bottom: 10px;
}
.tm-departments-vertical .departmentTabs .nav-tabs li a {
	font-size: 16px;
	font-weight: 600;
	color: #1f1f1f;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	background-color: #f3f3f3;
	padding: 20px;
	border: 1px solid #e6e6e6;
	border-radius: 0;
}
.tm-departments-vertical .departmentTabs .nav-tabs li.active a, .tm-departments-vertical .departmentTabs .nav-tabs li:hover a, .tm-departments-horizontal .departmentTabs .nav-tabs li:hover a {
	border: 1px solid transparent;
	color: #fff;
}
.departmentTabs .tab-content {
	background-color: #f3f3f3;
	display: table;
	width: 100%;
	padding: 15px 0;
}
.departmentTabs .department-image {
	border: 8px solid #fff;
}
.departmentTabs .department-image img {
	width: 100%;
}
.departmentTabs .department-details ul li {
	list-style-type: none;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	color: #1f1f1f;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
}
.departmentTabs ul {
	border: 0;
}
.departmentTabs .department-details ul {
	padding: 0;
}
.departmentTabs .department-details ul li span[class^="icon-"] {
	font-size: 30px;
	position: relative;
	top: 4px;
	padding-right: 4px;
}

/*
==============================================================
   Departments horizontal Tabs
==============================================================
*/

.tm-departments-horizontal {
	padding: 63px 0 70px;
}
.tm-departments-horizontal .departmentTabs .nav-tabs li {
	margin-bottom: 10px;
	display: inline-block;
	float: none;
}
.tm-departments-horizontal .departmentTabs .nav-tabs li a {
	font-size: 16px;
	font-weight: 600;
	color: #1f1f1f;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	background-color: #f3f3f3;
	padding: 15px 7px;
	border: 1px solid #e6e6e6;
	border-radius: 0;
	display: block;
}
.tm-departments-horizontal .departmentTabs .nav-tabs li.active a {
	border: 1px solid transparent;
	color: #fff;
}
.tm-departments-horizontal .departmentTabs .nav-tabs {
	margin-bottom: 10px;
}
.tm-departments-horizontal .department-details ul {
	text-align: left !important;
}
.departmentTabs .tab-content {
	background-color: #f3f3f3;
	display: table;
	width: 100%;
	padding: 15px 0;
}
.departmentTabs .department-image {
	border: 8px solid #fff;
}
.departmentTabs .department-image img {
	width: 100%;
}
.departmentTabs .department-details ul li {
	list-style-type: none;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 25px;
}
.tm-departments-horizontal .departmentTabs ul {
	border: 0;
	text-align: center;
}
.departmentTabs .department-details ul {
	padding: 0;
}
.departmentTabs .department-details .tm-btn {
	margin-top: 3px;
}
.departmentTabs .department-details ul li span[class^="icon-"] {
	font-size: 28px;
	position: relative;
	top: 4px;
	padding-right: 4px;
}
.tm-departments-horizontal .departmentTabs .department-image {
	height: 430px;
	overflow: hidden;
}
.departmentTabs .nav-tabs span[class^="icon-"] {
	display: block;
	font-size: 26px;
	margin-bottom: 5px;
}

/*
==============================================================
   Pricing Tables
==============================================================
*/

.tm-pricing-home .pricing-table {
	background-color: #ebebeb;
}
.tm-pricing-home .pricing-table .tm-box-heading {
	color: #fff;
	font-weight: 600;
	padding: 20px;
	text-align: center;
	margin-bottom: 0;
}
.tm-pricing-home .pricing-table .price {
	color: #fff;
	font-weight: 500;
	padding: 15px 15px 17px;
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	background-color: #00709e;
	position: relative;
}
.tm-pricing-home .pricing-table .price:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 24px dashed;
	border-top: 4px solid 9px;
	border-right: 24px solid transparent;
	border-left: 24px solid transparent;
	position: absolute;
	left: -14px;
	top: -11px;
	transform: rotate(-90deg);
	box-shadow: -22px 7px 22px -8px transparent;
}
.tm-pricing-home .pricing-table:hover .price:after {
	box-shadow: -22px 7px 22px -8px #000;
}
.tm-pricing-home .pricing-table .price .old {
	text-decoration: line-through;
	color: #d1d1d1;
}
.tm-pricing-home .pricing-table .features ul {
	padding: 13px 30px;
}
.tm-pricing-home .pricing-table .features ul li {
	list-style-type: none;
	position: relative;
	font-size: 14px;
	padding: 17px 0 15px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	border-bottom: 1px solid #cfcfcf;
	box-shadow: 0 1px 0px 0px #fff;
}
.tm-pricing-home .pricing-table .features ul li:nth-last-child(1) {
	border-bottom: none;
	box-shadow: none;
}
.tm-pricing-home .pricing-table .features ul li:after {
	content: '\e0f';
	float: right;
	font-family: 'icomoon';
}
.tm-pricing-home .pricing-table .tm-btn {
	width: 100%;
	margin-bottom: -6px;
}
.tm-pricing-home.main {
	padding: 61px 0 70px;
}

/*
==============================================================
    Home Testimonials
==============================================================
*/

.tm-testimonials-home {
	background-image: url(images/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 70px;
	text-align: center;
	position: relative;
	padding-bottom: 64px;
}
.tm-testimonials-home .tm-section-heading {
	padding-top: 63px;
}
.tm-testimonials-home * {
	color: #fff;
}
.tm-testimonials-home .tm-section-heading {
	color: #fff;
}
.tm-testimonials-home .tm-section-heading:after {
	background-color: #fff;
}
.tm-testimonials-home:before {
	background-color: rgba(0, 0, 0, 0.7);
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	content: '';
	position: absolute;
}
.tm-testimonials-home .testimonial {
	padding: 15px;
	border: 1px dashed #fff;
	position: relative;
}
.tm-testimonials-home .testimonial:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.tm-testimonials-home .testimonial .client-photo {
	width: 125px;
	height: 125px;
	margin-top: -80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 100px;
}
.tm-testimonials-home .testimonial .client-message h4 {
	margin-bottom: 20px;
}
.tm-testimonials-home .testimonial .client-message p {
	margin-bottom: 0px;
	font-style: italic;
	font-size: 14px;
}
.tm-testimonials-home .owl-carousel .owl-stage-outer {
	padding-top: 64px;
}
.tm-testimonials-home .owl-carousel .owl-dots {
	margin-top: 30px;
}
.tm-testimonials-home .owl-carousel .owl-dot {
	background-color: #fff;
	display: inline-block;
	margin: 0 15px;
	width: 13px;
	height: 13px;
	border-radius: 100px;
	position: relative;
}
.tm-testimonials-home .owl-carousel .owl-dot span {
	width: 44px;
	border-bottom: 1px dashed #fff;
	float: left;
	margin-top: 6px;
	position: relative;
	z-index: -1;
}
.tm-testimonials-home .owl-carousel .owl-dot:nth-last-child(1) span {
	border: 0;
}
.tm-testimonials-home .owl-carousel .owl-dot.active {
	border: 0;
}

/*
==============================================================
    Home Gallery
==============================================================
*/

.tm-filter-gallery {
	padding: 63px 0;
	margin-bottom: 27px;
}
.tm-filter-gallery .filter-tabs {
	text-align: center;
}
.tm-filter-gallery .filter-tabs li {
	list-style-type: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	background-color: #f3f3f3;
	padding: 16px 60px;
	border: 1px solid #e6e6e6;
	cursor: pointer;
}
.tm-filter-gallery .filter-tabs li.active, .tm-filter-gallery .filter-tabs li:hover {
	color: #fff;
	border-color: transparent;
}
.tm-filter-gallery .filtr-item .gallery-content {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
}
.tm-filter-gallery .filtr-item .gallery-overlay {
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: auto;
	text-align: center;
	opacity: 0;
	visibility: hidden;
}
.tm-filter-gallery.home .filtr-item .gallery-overlay {
	top: 20px;
	bottom: 20px;
}
.tm-filter-gallery .filtr-item img {
	width: 100%;
}
.tm-filter-gallery .filtr-item:hover .gallery-overlay {
	opacity: 1;
	visibility: visible;
}
.tm-filter-gallery .filtr-item .gallery-overlay .content .tm-btn {
	padding: 10px 20px;
	font-size: 13px;
}
.tm-filter-gallery .filtr-item .gallery-overlay .content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	color: #fff;
}
.tm-filter-gallery .filtr-item .gallery-overlay .content .tm-box-heading {
	color: #fff;
}
.tm-filter-gallery .filtr-item.col-sm-3 {
	height: 220px;
}
.tm-filter-gallery .filtr-item.col-sm-3 .tm-box-heading {
	font-size: 20px;
}

/*
==============================================================
    Call to Action - Home
==============================================================
*/

.tm-call-to-action-home {
	background-color: #0087be;
	padding: 64px 0 71px;
}
.tm-call-to-action-home h2 {
	margin-bottom: 16px;
}
.tm-call-to-action-home h3 {
	font-size: 20px;
}
.tm-call-to-action-home .tm-btn {
	float: right;
	margin-top: 14px;
}
.tm-call-to-action-home .tm-btn:hover {
	background-color: #fff;
	color: #1f1f1f !important;
}
.tm-call-to-action-home * {
	color: #fff;
}

/*
==============================================================
    News Section - Home
==============================================================
*/

.tm-news-home {
	padding-top: 63px;
	padding-bottom: 35px;
}
.tm-news-home .tm-pagination {
	padding-bottom: 35px;
}
.news {
	margin-bottom: 30px;
}
.news .news-thumbnail {
	height: 230px;
	position: relative;
	overflow: hidden;
}
.news .news-thumbnail img {
	width: 100%;
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	-ms-transition-duration: 2s;
	transition-duration: 2s;
	height: 100%;
}
.news .news-thumbnail:hover img {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.news .news-thumbnail:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
}
.news:hover .news-thumbnail:before {
	opacity: 1;
	visibility: visible;
}
.news .news-thumbnail .post-date {
	position: absolute;
	left: 0;
	width: 62px;
	height: 64px;
	top: 0;
	z-index: 3;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 20px;
}
.news .news-title {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 12px;
}
.news .news-title a {
	color: #fff;
}
.news .news-meta ul li {
	list-style-type: none;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 15px 15px 15px 0 !important;
	font-family: 'Montserrat', sans-serif;
}
.news .news-meta ul li span {
	font-size: 16px;
	position: relative;
	top: 2px;
}
.tm-related-events .news .news-meta ul li {
	padding: 5px 15px 5px 0 !important;
}
.tm-related-events .tm-news-home {
	padding-top: 0;
}
.tm-related-events .tm-news-home:after {
	content: '';
	display: block;
	clear: both;
}
.tm-related-events .tm-box-heading-sm {
	padding-top: 0;
}
.news p {
	margin-top: 20px;
}

/*
==============================================================
    App
==============================================================
*/

.tm-app-download {
	background-image: url(images/app-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.tm-app-download:before {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	content: '';
	z-index: 0;
}
.tm-app-download .app-description {
	padding: 65px 0 70px;
}
.tm-app-download .container {
	z-index: 2;
	position: relative;
}
.tm-app-download h2 {
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 26px;
	color: #fff;
	font-size: 26px;
}
.tm-app-download p {
	color: #fff;
	margin-bottom: 26px;
}

/*
==============================================================
    Footer
==============================================================
*/

.tm-footer {
	padding-top: 70px;
	clear: both;
}
.footer-logo {
	text-align: center;
}
.footer-logo img {
	margin-bottom: 30px;
}
.logo-caption {
	padding: 0 20%;
	color: #fff;
}
.logo-caption:after {
	content: '';
	display: block;
	width: 235px;
	height: 6px;
	margin: 26px auto 27px;
}
.footer-heading {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 32px;
}
footer .opening-hours * {
	color: #fff;
}
footer ul li {
	list-style-type: none;
}
footer .opening-hours ul li {
	list-style-type: none;
	clear: both;
	border-bottom: 1px dashed #797979;
	position: relative;
	width: 100%;
	display: table;
	padding: 18px 0;
}
footer .opening-hours ul li:nth-child(1) {
	padding-top: 0;
}
footer .opening-hours p {
	clear: both;
	margin-top: 30px;
}
footer .latest-news .news-thumbnail {
	width: 60px;
	height: 60px;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	position: relative;
}
footer .latest-news .news-thumbnail:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.footer-widget.subscribe .tm-btn:hover {
	background-color: #fff;
	color: #1f1f1f !important;
}
footer .latest-news ul li:hover .news-thumbnail:before {
	opacity: 1;
	visibility: visible;
}
footer .latest-news .news-content {
	float: left;
	width: 60%;
}
footer .latest-news .news-content .title {
	color: #fff;
	margin-bottom: 4px;
}
footer .latest-news .news-content .date {
	color: #ccc;
}
footer .latest-news ul li {
	list-style-type: none;
	display: table;
	width: 100%;
	clear: both;
	padding-bottom: 15px;
}
footer .latest-news ul li a {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
footer .twitter-feeds ul li a {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
footer .twitter-feeds .date {
	color: #ccc;
}
footer .twitter-feeds ul li a .icon-twitter-logo {
	font-size: 20px;
	position: relative;
	top: 5px;
	padding: 0 5px 0 0px;
}
footer .twitter-feeds ul li {
	line-height: 1.8;
	padding-bottom: 10px;
}
footer .form-control {
	background-color: #2a2a2a;
	border: 0;
	color: #fff;
}
footer textarea.form-control {
	height: 120px;
	resize: none;
}
footer .quick-contact .tm-btn {
	width: 100%;
}
footer .quick-contact .tm-btn:hover {
	background-color: #fff;
	color: #1f1f1f !important;
}
footer .subscribe input {
	width: 100% !important;
	border: 0;
}
.footer-widget {
	margin-bottom: 50px;
}
.footer-widget:after {
	content: '';
	clear: both;
	display: block;
}
footer .contact-info * {
	color: #fff;
}
footer .contact-info ul li {
	padding: 0 0 15px;
}
footer .social-links ul li {
	display: inline-block;
}
footer .social-links ul li a {
	font-size: 16px;
	color: #fff;
	width: 26px;
	display: block;
	height: 26px;
	text-align: center;
	line-height: 1.7;
	margin: 0 6px 0 0;
}
footer .social-links ul li a:hover {
	background-color: #fff;
}
.copyright-bar {
	text-align: center;
	padding: 20px;
	margin-top: 4px;
}
.copyright-bar p {
	color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

/*
==============================================================
    Breadcrumb Header
==============================================================
*/

.tm-breadcrumb {
	background-image: url(images/breadcrumb.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
	padding: 63px 0 64px;
}
.tm-breadcrumb ul li {
	list-style-type: none;
	display: inline-block;
}
.tm-breadcrumb ul li a {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.tm-breadcrumb .tm-section-heading {
	color: #fff;
	margin-bottom: 30px;
}
.tm-breadcrumb .tm-section-heading:after {
	background-color: #fff;
}
.tm-breadcrumb:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
}
.tm-breadcrumb .container {
	position: relative;
	z-index: 2;
}

/*
==============================================================
    Welcome Section 2
==============================================================
*/

.welcome-features li {
	list-style-type: none;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #1f1f1f;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
	display: inline-block;
	border: 2px dotted #1f1f1f;
	padding: 6px 5px 7px;
	line-height: 2;
	border-radius: 100px;
	margin: 0 5px 30px 0;
	width: 270px;
	text-align: center;
}
.welcome-features li span[class^="icon-"] {
	font-size: 24px;
	position: relative;
	top: 4px;
	padding-right: 4px;
}

/*
==============================================================
    Services Style 3
==============================================================
*/

.tm-services-style-3 {
	background-color: #f3f3f3;
	padding: 63px 0 64px;
}
.tm-services-style-3.main {
	padding: 71px 0 41px;
}
.tm-services-style-3 .service-box {
	text-align: center;
	border: 2px solid #fff;
	box-shadow: 0px 0px 0px 1px #ccc;
	margin-bottom: 30px;
}
.tm-services-style-3 .owl-item .service-box {
	margin-bottom: 7px;
}
.tm-services-style-3 .service-box .service-detail {
	padding: 20px 15px 1px;
}
.tm-services-style-3 .service-box .service-detail .service-title {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 17px;
}
.tm-services-style-3 .service-box * {
	color: #fff;
}
.tm-services-style-3 .service-box .service-description {
	margin-bottom: 15px;
}
.tm-services-style-3 .service-box .service-image {
	height: 222px;
	overflow: hidden;
	position: relative;
}
.tm-services-style-3 .service-box .service-image img {
	transition-duration: 3s;
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-ms-transition-duration: 3s;
	-o-transition-duration: 3s;
}
.tm-services-style-3 .service-box .service-image:hover img {
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
}
.tm-services-style-3 .service-box .service-image:after {
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
}
.tm-services-style-3 .service-box:hover .service-image:after {
	height: 100%;
}
.tm-services-style-3 .owl-carousel .owl-item img {
	width: 100%;
}

/*
==============================================================
    Doctors Style 3
==============================================================
*/

.tm-doctors-style-3 {
	padding: 63px 0 64px;
}
.general-content .tm-doctors-style-3 {
	padding: 30px 0 64px;
}
.tm-doctors-style-3 .btn-dark {
	padding: 10px 20px;
	font-size: 13px;
}
.tm-doctors-style-3 .doctor-box {
	margin-bottom: 30px;
}
.tm-doctors-style-3 .doctor-box .degree {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.tm-doctors-style-3 .doctor-box .tm-box-heading {
	margin-top: 30px;
}
.tm-doctors-style-3 .doctor-box .doctor-thumbnail {
	height: 250px;
	overflow: hidden;
	position: relative;
}
.general-content .tm-doctors-style-3 .doctor-box .doctor-thumbnail img {
	width: 100%;
}
.general-content .tm-doctors-style-3 .doctor-box .doctor-thumbnail {
	height: 180px;
}
.general-content .tm-doctors-style-3 .tm-box-heading {
	font-size: 20px;
}
.tm-doctors-style-3 .doctor-box .doctor-thumbnail:before {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	opacity: 0;
	visibility: hidden;
}
.tm-doctors-style-3 .doctor-box:hover .doctor-thumbnail:before {
	opacity: 1;
	visibility: visible;
}
.tm-doctors-style-3 .doctor-box .doctor-info {
	text-align: center;
}
.tm-doctors-style-3 .doctor-box .share ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
}
.tm-doctors-style-3 .doctor-box p {
	margin-bottom: 16px;
	margin-top: 15px;
}
.tm-doctors-style-3 .doctor-box .share {
	margin-bottom: 18px;
}
.tm-doctors-style-3.main {
	padding: 68px 0 34px;
}

/*
==============================================================
    Services Style 2
==============================================================
*/

.tm-services-style-2 {
	background-color: #f3f3f3;
	padding: 63px 0 64px;
}
.tm-services-style-2.main {
	padding: 64px 0 36px;
}
.tm-services-style-2 .service-box {
	text-align: center;
	margin-bottom: 30px;
}
.tm-services-style-2 .service-icon {
	font-size: 54px;
	color: #1f1f1f;
}
.tm-services-style-2 .service-title {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0px 0 10px;
}
.tm-services-style-2 .tm-section-heading {
	margin-bottom: 44px;
}

/*
==============================================================
    Doctors Style 2
==============================================================
*/

.tm-doctors-style-2 {
	padding: 63px 0 64px;
}
.tm-doctors-style-2.main {
	padding: 70px 0 40px;
}
.tm-doctors-style-2 .doctor-thumbnail {
	position: relative;
}
.tm-doctors-style-2 .doctor-thumbnail:before {
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.tm-doctors-style-2 .doctor-box:hover .doctor-thumbnail:before {
	opacity: 1;
	visibility: visible;
}
.tm-doctors-style-2 .doctor-thumbnail .degree {
	position: absolute;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	top: 0;
	left: 0;
	color: #fff;
	padding: 10px 20px;
	font-family: 'Montserrat', sans-serif;
}
.tm-doctors-style-2 .doctor-thumbnail {
	position: relative;
}
.tm-doctors-style-2 .share {
	float: right;
	width: 98px;
	text-align: right;
	margin-top: 11px;
}
.tm-doctors-style-2 .share ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 8px;
}
.tm-doctors-style-2 .doctor-info .tm-btn {
	padding: 10px 20px;
}
.tm-doctors-style-2 .doctor-box {
	margin-bottom: 30px;
	border-bottom: 1px dashed #1f1f1f;
	padding-bottom: 30px;
}
.tm-doctors-style-2 .doctor-box:after {
	content: '';
	clear: both;
	display: block;
}

/*
==============================================================
    Pricing Tables Style 2
==============================================================
*/

.tm-pricing-style-2 {
	padding: 63px 0 40px;
}
.tm-pricing-style-2 .pricing-table {
	border: 1px solid #ebebeb;
	margin-bottom: 30px;
}
.tm-pricing-style-2 .pricing-table .heading:after {
	content: '';
	clear: both;
	display: block;
}
.tm-pricing-style-2 .pricing-table .heading {
	padding: 0px 15px;
}
.tm-pricing-style-2 .pricing-table .tm-box-heading {
	color: #fff;
	font-weight: 500;
	padding: 0;
	text-align: center;
	margin-bottom: 0;
	float: left;
	margin-top: 16px;
}
.tm-pricing-style-2 .pricing-table .price {
	color: #fff;
	font-weight: 500;
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	float: right;
	margin-top: -2px;
}
.tm-pricing-style-2 .pricing-table .price .old {
	text-decoration: line-through;
	color: #d1d1d1;
}
.tm-pricing-style-2 .pricing-table .features {
	clear: both;
	text-align: center;
}
.tm-pricing-style-2 .pricing-table .features ul li {
	list-style-type: none;
	position: relative;
	font-size: 14px;
	padding: 17px 0 15px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 1px solid #cfcfcf;
	box-shadow: 0 1px 0px 0px #fff;
}
.tm-pricing-style-2 .pricing-table .features ul li:nth-last-child(1) {
	border-bottom: none;
	box-shadow: none;
}
.tm-pricing-style-2 .pricing-table .tm-btn {
	width: 100%;
	margin-bottom: -6px;
}

/*
==============================================================
    404
==============================================================
*/

.tm-404 {
	text-align: center;
	padding-bottom: 70px;
	padding-top: 16px;
}
.tm-404 h1 {
	font-size: 287px;
	text-shadow: 0 15px 0px rgba(0, 135, 190, 0.3);
	font-weight: 700;
}
.tm-404 h3 {
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 14px;
	margin-bottom: 22px;
}
.tm-404 p {
	padding: 0 20%;
	margin-bottom: 25px;
}
.tm-404 form {
	margin-top: 27px;
}
.tm-404 .form-control {
	box-shadow: none;
	border: 1px solid #d8d8d8;
	border-radius: 0;
	height: 54px;
	width: 100%%;
}
.mb {
	float: none;
	margin: 0 auto;
}

/*
==============================================================
    Appointment Page
==============================================================
*/

.tm-appointment {
	padding: 63px 0 55px;
}
.tm-appointment:after {
	content: '';
	clear: both;
	display: block;
}

/*
==============================================================
    Call to action 2
==============================================================
*/

.tm-call-to-action-2 {
	background-image: url(images/call-to-action.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 66px 0 66px;
	position: relative;
}
.tm-call-to-action-2:before {
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.tm-call-to-action-2 .container {
	position: relative;
	z-index: 2;
}
.tm-call-to-action-2 .content * {
	color: #fff;
}
.tm-call-to-action-2 .content .separator {
	margin: 20px 0;
	border-color: #fff;
}
.tm-call-to-action-2 .ca-btns {
	margin-top: 43px;
	text-align: right;
}
.tm-call-to-action-2 .tm-btn {
	padding: 17px 20px;
}
.tm-call-to-action-2 p {
	margin-bottom: 0;
}

/*
==============================================================
    Contact Info Styling
==============================================================
*/

.tm-contact {
	padding: 70px 0 55px;
}
.tm-contact.main {
	padding: 63px 0 55px;
}
.tm-contact-info {
	padding-top: 70px;
	background-color: #f3f3f3;
	position: relative;
	padding-bottom: 38px;
}
.contact-info-box {
	text-align: center;
	margin-bottom: 30px;
}
.contact-info-box .img-icon {
	font-size: 60px;
	color: #1f1f1f;
	width: 143px;
	height: 143px;
	margin: 0 auto;
	border: 2px dashed #1f1f1f;
	border-radius: 100%;
	background-color: #f3f3f3;
	line-height: 2.5;
}
.contact-info-box:hover .img-icon {
	color: #fff;
	border-color: transparent;
}
.contact-info-box .info h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 30px;
	padding-bottom: 10px;
}
.contact-info-box .info h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
}
.tm-contact-info:before {
	border-bottom: 2px dashed #1f1f1f;
	content: '';
	transform: translateY(-50%);
	top: 40%;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 0;
}
.tm-contact-info-2 {
	padding: 63px 0 55px;
}
.contact-info-box-2 {
	clear: both;
	margin-bottom: 30px;
}
.contact-info-box-2:after {
	clear: both;
	content: '';
	display: block;
}
.contact-info-box-2 .img-icon {
	font-size: 41px;
	color: #1f1f1f;
	width: 103px;
	height: 103px;
	border: 2px dashed #1f1f1f;
	line-height: 2.6;
	border-radius: 100%;
	text-align: center;
	float: left;
	margin-right: 15px;
}
.contact-info-box-2:hover .img-icon {
	color: #fff;
	border-color: transparent;
}
.contact-info-box-2 .info {
	float: left;
}
.contact-info-box-2 .info h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 25px;
	padding-bottom: 10px;
}
.contact-info-box-2 .info h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
}

/*
==============================================================
    Google Maps
==============================================================
*/

.map-canvas.tm_contact_us_map {
	height: 432px;
}

/*
==============================================================
    Contact Form
==============================================================
*/

.tm-contact-us-form .tm-btn {
	width: 100%;
}

/*
==============================================================
    Pagination
==============================================================
*/

.tm-pagination {
	text-align: center;
	clear: both;
	display: block;
}
.tm-pagination ul li {
	list-style-type: none;
	display: inline-block;
}
.tm-pagination ul li a {
	border: 1px solid #e1e1e1;
	padding: 2px;
	border: 1px solid #e1e1e1;
	padding: 11px 19px;
	font-size: 16px;
	font-weight: 500;
	display: block;
}
.tm-pagination ul li.active a {
	color: #fff;
	border-color: transparent;
}
.tm-pagination ul li:hover a {
	color: #fff;
	border-color: transparent;
}

/*
==============================================================
    Blog Full Style
==============================================================
*/

.blog-full {
	padding-top: 70px;
}
.blog-full .news .news-thumbnail {
	height: 380px;
	position: relative;
}
.blog-full .news .news-title {
	text-align: left;
}
.blog-full .tm-news-home {
	padding-top: 0;
}
.blog-full .tm-search-widget {
	position: relative;
}
.tm-search-widget .form-control {
	height: 45px;
}
.tm-search-widget .tm-btn {
	padding: 10px 24px;
	height: 45px;
}

/*
==============================================================
    Sidebar
==============================================================
*/

.tm-sidebar:after, .sidebar-widget:after {
	content: '';
	display: block;
	clear: both;
}
.sidebar-widget {
	clear: both;
	display: block;
	margin-bottom: 30px;
	position: relative;
}
.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}
.search-btn .icn {
	float: right;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 23px;
	color: #fff;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	cursor: pointer;
}
.widget-heading {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	padding: 15px;
	margin-bottom: 25px;
}
.sidebar-widget ul li {
	list-style-type: none;
	clear: both;
}
.sidebar-widget ul li a {
	font-family: 'Open Sans', sans-serif;
}
.sidebar-categories ul li {
	padding: 15px 0;
	border-bottom: 1px dashed #63727b;
}
.sidebar-categories ul li:nth-child(1) {
	padding-top: 0;
}
.sidebar-categories ul li:nth-last-child(1) {
	border-bottom: 0;
	padding-bottom: 0;
}
.sidebar-categories ul li a {
	font-weight: 400;
	display: block;
}
.sidebar-categories ul li a:hover {
	padding-left: 5px;
}
.sidebar-posts .post-thumbnail {
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 15px;
	position: relative;
}
.sidebar-posts .post-thumbnail:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0;
	visibility: hidden;
}
.sidebar-posts ul li:hover .post-thumbnail:before {
	opacity: 1;
	visibility: visible;
}
.sidebar-posts .content {
	float: left;
	width: 80%;
}
.sidebar-posts .title {
	width: 100%;
	clear: both;
	display: block;
	font-weight: 400;
}
.sidebar-posts ul li {
	padding: 15px 0;
	float: left;
	width: 100%;
	border-bottom: 1px dashed #63727b;
}
.sidebar-posts ul li:nth-child(1) {
	padding-top: 0;
}
.sidebar-posts ul li:nth-last-child(1) {
	border-bottom: none;
	padding-bottom: 0;
}
.sidebar-posts ul {
	float: left;
	width: 100%;
}
.sidebar-archives ul li {
	padding: 15px 0;
	float: left;
	width: 100%;
	border-bottom: 1px dashed #63727b;
}
.sidebar-archives ul li:nth-child(1) {
	padding-top: 0;
}
.sidebar-archives ul li:nth-last-child(1) {
	border-bottom: none;
	padding-bottom: 0;
}
.sidebar-archives ul li a {
	font-weight: 400;
	display: block;
}
.sidebar-archives ul li a:hover {
	text-indent: 5px;
}
.tags-cloud ul li {
	display: inline-block;
}
.tags-cloud ul li a {
	text-transform: capitalize;
	padding: 10px;
	float: left;
	border: 1px solid #63727b;
	margin: 5px 5px 0 0;
}
.tags-cloud ul li a:hover {
	color: #fff;
}

/*
==============================================================
    Blog Detail
==============================================================
*/

.blog-detail {
	padding: 70px 0 0px;
}
.blog-detail .tm-news-home {
	padding-top: 0;
}
.blog-detail .news .news-thumbnail {
	height: 380px;
}
.blog-detail .news .news-title {
	text-align: left;
}
.blog-detail .news h4 {
	text-transform: uppercase;
	padding-top: 20px;
}
.blog-detail .news ul li {
	list-style-type: none;
	padding: 10px 0;
}
.blog-detail .news ul li:before {
	content: '\e00';
	font-family: 'icomoon';
	float: left;
	margin-right: 10px;
}
.blog-detail .news-meta ul li:before {
	content: '';
}
.news blockquote {
	font-size: 14px;
	font-style: italic;
	border: 0;
	padding: 20px 0 0;
	margin: 0px 0px 20px 0px;
	position: relative;
	font-weight: 400;
}
.news blockquote:before {
	content: '\e26';
	font-size: 20px;
	color: #e5e5e5;
	font-family: 'icomoon';
	font-style: normal;
}
.post-share ul li {
	list-style-type: none;
	display: inline-block;
}
.post-share ul li:before {
	content: '' !important;
}
.post-share li a {
	color: #fff;
	font-size: 20px;
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	line-height: 2.2;
}
.post-blocks .post-share {
	float: left;
}
.post-blocks .tags-inline {
	float: right;
	padding: 10px 0;
}
.post-nav:after {
	content: '';
	clear: both;
	display: block;
}
.post-nav .prev {
	float: left;
}
.post-nav .prev a, .post-nav .next a {
	display: block;
}
.post-nav .prev strong, .post-nav .next strong {
	display: block;
	text-transform: uppercase;
}
.post-nav .next {
	float: right;
	text-align: right;
}
.post-blocks {
	clear: both;
	display: block;
	width: 100%;
	padding: 20px 0;
}
.post-blocks:after {
	clear: both;
	display: block;
	width: 100%;
	content: '';
}
.tm-author .author-photo {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
	overflow: hidden;
}
.tm-author .author-detail {
	float: left;
	width: 81%;
}
.tm-author .author-detail .author-name {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
}
.tm-author .author-detail p {
	font-style: italic;
	font-weight: 400;
	margin-bottom: 0;
}

/*
==============================================================
    Comments
==============================================================
*/

.c-heading {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #1f1f1f;
	margin-bottom: 15px;
	background-color: transparent;
}
.tm-comments .user-comment .user-image {
	width: 80px;
	height: 80px;
	overflow: hidden;
	float: left;
	margin-right: 15px;
}
.tm-comments .user-comment .comment-content {
	float: left;
	width: 80%;
}
.tm-comments .user-comment .user-name {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.tm-comments .user-comment .comment-time {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #666666;
	padding-top: 10px;
	padding-bottom: 10px;
}
.tm-comments ul:after {
	clear: both;
	content: '';
	display: block;
}
.tm-comments ul li:after {
	clear: both;
	display: block;
	content: '';
}
.tm-comments ul li {
	list-style-type: none;
}
.tm-comments ul li .user-comment {
	margin-bottom: 50px;
}
.tm-comments ul li:nth-last-child(1) .user-comment {
	margin-bottom: 0;
}
.tm-comments ul li .user-comment:after {
	clear: both;
	display: block;
	content: '';
}
.tm-comments ul li .tm-btn {
	padding: 5px 10px;
	font-size: 12px;
	margin-top: 10px;
}
.tm-comments ul li p {
	margin-bottom: 10px;
}
.tm-comments ul li.reply .user-comment {
	padding-left: 50px;
}

/*
==============================================================
    Shop
==============================================================
*/

.tm-shop-list {
	padding: 70px 0;
}
.tm-shop-list.related {
	padding: 63px 0 34px;
}
.tm-product-box .product-title {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	background-color: #ebebeb;
	padding: 15px;
}
.tm-product-box .product-price {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding: 17px 15px;
	text-align: center;
}
.tm-product-box .tm-btn {
	width: 100%;
}
.tm-product-box .product-image img {
	width: 100%;
	transition-duration: 3s;
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-o-transition-duration: 3s;
	-ms-transition-duration: 3s;
}
.tm-product-box .product-image:hover img {
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
}
.tm-product-box .product-image {
	height: 274px;
	overflow: hidden;
	position: relative;
}
.tm-product-box .product-image:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
}
.tm-product-box:hover .product-image:before {
	opacity: 1;
	visibility: visible;
}
.tm-product-box .product-price .old {
	text-decoration: line-through;
}
.tm-product-box .product-price span {
	padding: 0 5px;
}
.tm-shop-list .tm-product-box {
	margin-bottom: 30px;
}
.tm-shop-list .tm-product-box:after {
	content: '';
	clear: both;
	display: block;
}

/*
==============================================================
    Shop Detail
==============================================================
*/

.tm-shop-detail {
	padding-top: 70px;
}
.tm-shop-detail .tm_product_info .product_image {
	height: 300px;
	overflow: hidden;
}
.tm-shop-detail .tm_product_info .product_image img {
	width: 100%;
}
.tm-shop-detail .product_details h4 {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 20px 0;
}
.tm-shop-detail .product_details .price {
	font-size: 18px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.tm-shop-detail .product_details .price .old_price {
	color: #c9c9c9;
	margin-right: 20px;
	text-decoration: line-through;
}
.tm-shop-detail .product_details p {
	margin: 20px 0 23px;
}
.tm-shop-detail .cart_option .form-control {
	width: 74px;
	float: left;
	margin-right: 20px;
}
.tm-shop-detail .product_details .categories {
	margin: 21px 0;
}
.tm-shop-detail .product_details .categories label {
	font-weight: normal;
	color: #666666;
}
.tm_product_reviews_details {
	margin-top: 56px;
}
.tm_product_reviews_details .nav-tabs {
	border: 0;
}
.tm_product_reviews_details .tab-content {
	padding: 20px;
	border: 1px solid #e0e0e0;
}
.tm_product_reviews_details .tab-content .tab-pane h3 {
	font-size: 22px;
	font-weight: 600;
	margin: 0px 0 20px;
}
.tm_product_reviews_details .tab-content .tab-pane p {
	margin-bottom: 0px;
}
.tm_product_reviews_details .nav-tabs li a, .tm_product_reviews_details .nav-tabs li a:hover, .tm_product_reviews_details .nav-tabs li a:focus {
	border: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	padding: 17px 71px;
	cursor: pointer;
}

/*
==============================================================
    Doctor Detail
==============================================================
*/

.tm-doctor-detail {
	padding: 70px 0 0;
}
.additional-doctor-info:after {
	clear: both;
	display: block;
	content: '';
}
.additional-doctor-info {
	margin-top: 30px;
}
.additional-doctor-info span[class^="icon-"] {
	font-size: 20px;
	border: 1px solid;
	padding: 6px;
	float: left;
}
.doctor-info .tm-box-heading {
	margin-bottom: 16px;
}
.doctor-info p {
	margin-bottom: 16px;
}
.doctor-info .doctor-designation {
	margin-bottom: 15px;
}
.additional-doctor-info .details {
	float: left;
	padding-left: 15px;
}
.additional-doctor-info .details ul li {
	list-style-type: none;
	display: inline-block;
}
.additional-doctor-info .details ul li a {
	font-size: 14px;
	padding: 0 10px 0 0;
	line-height: 0;
}
.additional-doctor-info .info-heading {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 5px;
}
.other-info {
	padding: 70px 0 46px;
	clear: both;
}
.other-info:after {
	content: '';
	display: block;
	clear: both;
}
.tm-qualification ul li {
	list-style-type: none;
	padding-bottom: 20px;
	position: relative;
}
.tm-qualification ul li:nth-last-child(1) {
	padding-bottom: 0px;
}
.tm-qualification ul li:before {
	content: '\e02';
	font-family: 'icomoon';
	font-size: 20px;
	position: relative;
	top: 4px;
	margin-right: 10px;
}
.tm-awards {
	background-color: #f3f3f3;
	padding: 70px 0;
}

/*
==============================================================
    Event Detail
==============================================================
*/

.tm-event-wrap {
	padding: 70px 0 66px;
}
.tm-event-detail .event-image {
	position: relative;
	height: 380px;
	overflow: hidden;
}
.tm-event-detail .event-image .post-date {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 20px;
}
.tm-event-detail .title-wrap {
	padding: 15px;
	margin-bottom: 20px;
}
.tm-event-detail .title-wrap * {
	color: #fff;
}
.tm-event-detail .title-wrap:after {
	content: '';
	display: block;
	clear: both;
}
.tm-event-detail .event-tite {
	float: left;
	margin-top: 4px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}
.tm-event-detail .event-meta {
	float: right;
	text-align: right;
	margin-top: 2px;
}
.tm-event-detail .event-meta ul li {
	list-style-type: none;
	display: inline-block;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	padding-left: 15px;
}
.tm-event-detail .event-meta ul li span[class^="icon-"] {
	margin-right: 5px;
}
.feature-box {
	border: 1px solid #dadada;
	padding: 20px 15px;
	margin-bottom: 30px;
}
.feature-box ul li {
	list-style-type: none;
	padding-bottom: 20px;
}
.feature-box ul li:nth-last-child(1) {
	padding-bottom: 0px;
}
.event-map {
	height: 179px;
}
.tm-related-events .news-thumbnail {
	height: 178px;
}
.tm-related-events .news-meta {
	margin-top: 10px;
	padding-bottom: 10px;
}
.tm-related-events p {
	margin-top: 13px;
	margin-bottom: 0;
}
.tm-related-events .news {
	margin-bottom: 0;
}
.tm-related-events .tm-news-home {
	padding-bottom: 0;
}

/*** Service Detail ***/

.tm-service-detail-wrap {
	padding: 70px 0;
}

.errorclass{
	color: #d70d0d;
    font-weight: 600;
    font-size: 13px;
	display:none;
}

.limenuitemscc li{
	margin: 10px 0px;
}
.tm-sidebar .tm-appointment {
	padding: 0;
	background-color: #f3f3f3;
}
.sidebar-widget.questions ul li {
	font-size: 16px;
	font-weight: 700;
	color: #1f1f1f;
	padding-bottom: 20px;
	word-break: break-all;
}
.sidebar-widget.questions ul li span {
	margin-right: 5px;
}
.sidebar-widget .tm-btn.pdf {
	margin-top: 20px;
	width: 100%;
}
.sidebar-widget .tm-appointment .tm-btn {
	width: 100%;
}
.tm-service-detail .service-detail-thumb img {
	width: 100%;
}
.tm-service-detail .service-title {
	color: #fff;
	font-size: 16px;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}
.tm-service-detail .tm-box-heading-sm {
	margin-top: 26px;
}
.tm-service-detail ul li {
	list-style-type: none;
	padding-bottom: 23px;
}
.tm-service-detail ul li:before {
	content: '\e00';
	font-family: 'icomoon';
	float: left;
	margin-right: 10px;
}
.tm-inline-pricing {
	margin-top: 30px;
}
.tm-inline-pricing .pricing-box {
	padding: 15px 20px;
}
.tm-inline-pricing .pricing-box * {
	color: #fff;
}
.tm-inline-pricing .pricing-box .price-desc {
	width: 80%;
	float: left;
}
.tm-inline-pricing .pricing-box .price-cell {
	float: right;
	font-size: 18px;
	font-weight: 600;
	margin-top: 7px;
}
.tm-inline-pricing .pricing-box .lbl {
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 16px;
	text-transform: capitalize;
}
.tm-inline-pricing .pricing-box .list-row {
	margin-bottom: 11px;
	border-bottom: 1px dashed #fff;
	display: inline-block;
	padding-bottom: 18px;
	width: 100%;
}
.tm-inline-pricing .pricing-box .list-row:nth-last-child(1) {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border: 0;
}
.pricing-box:after {
	clear: both;
	content: '';
	display: block;
}

/*
==============================================================
    Department Details
==============================================================
*/

.tm-department-detail {
	padding-top: 70px;
}
.general ul li {
	list-style-type: none;
	padding: 10px 0;
}
.general li {
	list-style-type: none;
	padding: 10px 0;
}
.general li:before {
	content: '\e00';
	font-family: 'icomoon';
	float: left;
	margin-right: 10px;
}
.dep-image {
	margin-bottom: 20px;
}
.general-content .tm-small-heading {
	padding-top: 20px;
}
.general-content p {
	padding-top: 10px;
}
.general-content .tm-appointment {
	padding: 30px 0 70px;
}

/*
==============================================================
    Extra Css
==============================================================
*/

.cart-drop {
	background-color: #fff;
	position: absolute;
	box-shadow: 0 0 22px -10px #000;
	left: -266px;
	top: 100%;
	min-width: 300px;
	z-index: 99999;
	padding: 15px;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	border: 1px solid #f3f3f3;
}
.cart-drop.active {
	opacity: 1;
	visibility: visible;
}
.cart-drop .prod-img {
	float: left;
	height: 50px;
	width: 50px;
	overflow: hidden;
	margin-right: 10px;
	position: relative;
}
.cart-drop .prod-img img {
	width: 100%;
}
.cart-drop .prod-img:before {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	opacity: 0;
	visibility: hidden;
}
.cart-drop .prod-info {
	float: left;
}
.cart-drop li:hover .prod-img:before {
	visibility: visible;
	opacity: 1;
}
.cart-drop .prod-info span {
	color: #1f1f1f;
	font-weight: 500;
	font-size: 12px;
}
.cart-drop li {
	border-bottom: 1px dashed #1f1f1f;
	margin-bottom: 16px;
	display: block;
	float: left;
	padding-bottom: 16px;
	width: 100%;
}
.cart-drop li .remove-item {
    color: #fff;
    font-weight: 700;
    float: right;
    cursor: pointer;
    font-size: 10px;
    background: red;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 1.3;
}
.cart-drop .total_pr {
	margin-bottom: 16px;
}
.cart-drop .tm-btn{
	padding: 10px 20px !important;
	font-size: 13px;
}
.tm-awards .owl-carousel .owl-item:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
}
.owl-carousel .owl-item:hover:before {
	opacity: 1;
	visibility: visible;
}
.welcome-image .title_box p {
	padding: 15px;
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
#dl-menu {
	display: none;
}
#backTop {
	padding: 8px 10px;
	color: #fff;
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
	cursor: pointer;
	z-index: 99999;
}