/*
	  ============================================================
		   Blue Background Color
	  ============================================================
*/

.topbar, .topinfo .c_info .c_contact span[class^="icon-"], .btn-blue, .tm-appointment-large, .tm-opening-hours,
.tm-video-wrapper, .tm-departments-vertical .departmentTabs .nav-tabs li.active a, .tm-pricing-home .pricing-table .tm-box-heading, .tm-testimonials-home .owl-carousel .owl-dot.active,
.tm-filter-gallery .filter-tabs li.active, .tm-news-home .news .news-thumbnail .post-date, .tm-news-home .news .news-title,
.logo-caption:after, footer .social-links ul li a, .copyright-bar, .tm-services-style-3 .service-box, .tm-pricing-style-2 .pricing-table .heading,
.tm-pagination ul li.active a, .tm-pagination ul li:hover a, .tm-datepicker:after, .tm-timepicker:after, .tm-departments-horizontal .departmentTabs .nav-tabs li.active a,
.widget-heading, .post-share li a, .tm_product_reviews_details ul li.active a, .tm_product_reviews_details .nav-tabs li a:hover, .tm_product_reviews_details .nav-tabs li a:focus,
.tm-event-detail .event-image .post-date, .tm-event-detail .title-wrap, .tm-service-detail .service-title, .tm-inline-pricing .pricing-box, .tm-btn:hover,
.tm-project-facts .fact-box:hover > .fact-icon, .tm-project-facts .fact-box:hover > .fact-label, .tm-departments-vertical .departmentTabs .nav-tabs li:hover a, .tm-departments-horizontal .departmentTabs .nav-tabs li:hover a,
.tm-filter-gallery .filter-tabs li:hover, .footer-widget.subscribe .tm-btn:hover, .tm-pricing-home .pricing-table:hover .price:after,
.topbar .t-options .icons_t .search-box, .tm-main-menu .nav-wrapper li ul li a:hover, .tags-cloud ul li a:hover, .contact-info-box:hover .img-icon, .contact-info-box-2:hover .img-icon,
.welcome-image .title_box, .dl-menuwrapper button, .no-touch .dl-menuwrapper li a:hover, #backTop
{
	background-color: #0087be;
}

/*
	  ============================================================
		   Blue Background Color With Transparency
	  ============================================================
*/

.dentist-info .overlay-content, .tm-project-facts:before, .tm-filter-gallery .filtr-item .gallery-overlay, .tm-app-download:before, .tm-breadcrumb:before,
.tm-doctors-style-2 .doctor-thumbnail .degree, footer .latest-news .news-thumbnail:before,
.tm-services-style-3 .service-box .service-image:after, .cart-drop .prod-img:before, .tm-doctors-style-3 .doctor-box .doctor-thumbnail:before,
.tm-doctors-style-2 .doctor-thumbnail:before, .tm-product-box .product-image:before, .sidebar-posts .post-thumbnail:before, .owl-carousel .owl-item:before
{
	background-color: rgba(0,135,190, 0.7);
}


/*
	  ============================================================
		   Blue Font and Icons Color
	  ============================================================
*/

a:hover, a:focus, a:active, .tm-home-slider .flexslider .slides li .caption h1 span, .tm-box-heading span, .tm-dentists-home ul li span[class^="icon-"], .departmentTabs .department-details .tm-box-heading,
.departmentTabs .department-details ul li span[class^="icon-"], .tm-pricing-home .pricing-table .features ul li:after,
footer .twitter-feeds ul li a .icon-twitter-logo, .welcome-features li span[class^="icon-"],
.tm-doctors-style-2 .share ul li a, .tm-404 h1, .blog-detail .news ul li:before, #tm_shop_detail .product_details .price, #tm_shop_detail .product_details .categories span,
.tm-shop-detail .product_details h4, .tm-shop-detail .product_details .price, .additional-doctor-info span[class^="icon-"], .additional-doctor-info .details ul li a,
.tm-qualification ul li:before, .tm-service-detail ul li:before, .tm-main-menu .nav-wrapper > ul > li > a:hover, .topinfo .tm_top_social a:hover,
.tm-home-services .service-box:hover .service-image span[class^="icon-"], footer .latest-news ul li a:hover,
footer .social-links ul li a:hover, footer .twitter-feeds ul li a:hover, .general-content ul li:before,
.tm-video-wrapper .video-box:hover:before, .tm-services-style-2 .service-box:hover .service-icon, .sidebar-archives ul li a:hover, .sidebar-posts .title:hover,
.sidebar-categories ul li a:hover, .tm-box-heading, .tm-product-box:hover .product-title a
{
	color: #0087be;
}
/*
	  ============================================================
		   Blue Border Color
	  ============================================================
*/
.additional-doctor-info span[class^="icon-"], .tm-home-services .service-box:hover .service-image, .form-control:focus,
.tags-cloud ul li a:hover, .welcome-features li:hover
{
	border-color: #0087be;
}

/*
	  ============================================================
		   Dark Font and Icons Color
	  ============================================================
*/

.dentist-info .overlay-content .share ul li a:hover span, .tm-main-menu .nav-wrapper li ul li a, .tm-main-menu .nav-wrapper li ul > li.menu-item-has-children:before,
.tm-doctors-style-2 .share ul li a:hover
{
	color: #1f1f1f;
}


/*
	  ============================================================
		   Dark Background Color
	  ============================================================
*/

.btn-dark, .tm-main-menu, .tm-section-heading:after, .tm-footer, .tm-appointment-large .tm-datepicker:after, .tm-appointment-large .tm-timepicker:after,
.tm-product-box .product-price, .tm_product_reviews_details .nav-tabs li a, .btn-blue:hover, .tm-appointment-large .tm-btn:hover,
.tm-call-to-action-home .tm-btn:hover, .news:hover .news-title, .news:hover .news-thumbnail .post-date, .tm-doctors-style-2 .doctor-box:hover .doctor-thumbnail .degree, .post-share li a:hover, .tm-pricing-style-2 .pricing-table:hover .heading,
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul, #backTop:hover
{
	background-color: #1f1f1f;
}


/*
	  ============================================================
		   Transition
	  ============================================================
*/

a, .tm-btn, .tm-btn:before, .tm-video-wrapper .video-box:after, .tm-testimonials-home .owl-carousel .owl-dot, .tm-filter-gallery .filter-tabs li, .tm-filter-gallery .filtr-item .gallery-overlay,
.tm-pagination ul li.active a, .tm-main-menu .nav-wrapper li ul, .tm-home-services .service-image, .tm-home-services .service-image span[class^="icon-"],
.dentist-info .overlay-content, .dentist-info .overlay-content .inner-content,
.tm-project-facts .fact-box .fact-icon, .tm-project-facts .fact-box .fact-icon span, .tm-project-facts .fact-label, .tm-filter-gallery .filter-tabs li,
.news .news-thumbnail .post-date, .news .news-title, footer .latest-news .news-thumbnail:before,
.tm-pricing-home .pricing-table .price:after, .tm-testimonials-home .testimonial, .tm-services-style-3 .service-box .service-image:after, .cart-drop .prod-img:before,
.search-box, .cart-drop, .tm-video-wrapper .video-box:before, .dentist-info .overlay-content .share ul li a span, .news .news-thumbnail:before,
.tm-doctors-style-3 .doctor-box .doctor-thumbnail:before, .tm-services-style-2 .service-icon, .tm-doctors-style-2 .doctor-thumbnail:before, .tm-doctors-style-2 .doctor-thumbnail .degree,
.owl-carousel .owl-item:before, .tm-product-box .product-title, .tm-product-box .product-image:before, .sidebar-posts .post-thumbnail:before,
.tm-pricing-style-2 .pricing-table .heading, .contact-info-box .img-icon, .contact-info-box-2 .img-icon, .welcome-features li, .dl-menuwrapper button,
.news .news-thumbnail img, .tm-services-style-3 .service-box .service-image img, .tm-product-box .product-image img, #backTop
{
	transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;	
}

/*** Selection Color ****/


::selection {
    background: #0087be;
    color:#ffffff;
}
::-webkit-selection {
    background: #0087be;
    color: #ffffff;
}
::-moz-selection {
    background: #0087be;
    color: #ffffff;
}